<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
 <div layout:fragment="content" > 
<div style='margin: 0px auto; width: 800px; '>
  <div class="fotorama"
         data-autoplay="5000"
         data-nav="thumbs"
         data-ratio="800/520">
    <img src="/fotorama/images/cafe_main.jpg">
    <img src="/fotorama/images/cafe_main2.jpg">
    <img src="/fotorama/images/cafe_main3.jpg">
    <img src="/fotorama/images/cafe_main4.png">
    <img src="/fotorama/images/cafe_main5.jpg">
    <img src="/fotorama/images/cafe_main6.jpg">
    <img src="/fotorama/images/cafe_main7.jpg">
    <img src="/fotorama/images/cafe_main8.jpg">
    <img src="/fotorama/images/cafe_main9.jpg">
    <img src="/fotorama/images/cafe_main10.jpg">


      </div>
  </div>
</div>
 
</body>
</html>
