
<div th:fragment="navbarFragment" >
<div>
<div class="top_menu_img">
	 <div class="top_menu_label">카페 ver3.0</div> 
	</div>
		<div style="width: 100%">
	 	<img src="/images/top1.jpg" style="width: 100%;"> <!-- 화면 상단 배너 이미지 -->
	</div>
  <nav  class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
                <!-- 메뉴 시작 -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown" th:each="cafeVOMenu:${menu}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            	role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${cafeVOMenu.name}">
                            </a>                          
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li th:each="cafeVO:${cafeVOMenu.list_namesub}"><a class="dropdown-item" th:href="@{|/contents/list_by_cafeno_search_paging?cafeno=${cafeVO.cafeno}|}" th:text="${cafeVO.namesub}"></a></li>
                            </ul>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link" href="/cafe/list_search">목록</a>
                        </li>                      
                        <li class="nav-item">
                        <span th:if="${session.cafe_mno == null}">
                            <a class="nav-link" href="/member/create">회원 가입</a>
                        </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/member/list">회원 목록</a>
                        </li>
             						<li class="nav-item">
                      <span th:if="${session.cafe_mno == null}"><a class="nav-link" href="/member/login" th:text="@{|로그인|}"></a></span>
                      <span th:if="${session.cafe_mno != null}"><a class="nav-link" href="/member/logout" th:text="@{|${session.id} 로그아웃|}"></a></span>
              			</li>    
 											  <li class="nav-item" span th:if="${session.cafe_mno != null}">
                     <a class="nav-link" href="/member/passwd_update">비밀번호 변경</a>
                  </li>
                    </ul>
                </div>
                <!-- 메뉴 종료-->
    </div>
</nav>
</div>
